<section class="max-w-5xl mx-auto px-4 lg:px-6 py-40 relative">
    <p class="text-red font-bold text-lg antialiased mb-4">Ever gone 88 mph in a Delorean, buddy?</p>
    <h1 class="text-6xl md:text-7xl lg:text-8xl tracking-tight text-white font-bold">Rent your very own time machine</h1>
    <img src="/img/3d-bolts.png" class="absolute h-64 top-8 right-0" alt="3D Lightning Bolts">
    <p class="text-[32px] tracking-tight leading-tight max-w-4xl text-gray-500 mt-12">
        <strong class="font-bold text-white">With the latest in Flux Capacitor™ technology</strong>,
        our time machines will get you when you want to be in no time at all.
</section>
<section class="max-w-6xl mx-auto p-4 lg:px-6 grid grid-cols-2 gap-8 pb-12">
    <div class="relative">
        <div class="h-[500px] relative z-10 bg-gradient-to-tr from-orange to-blue via-purple rounded-xl bg-cover">
            <div class="absolute h-full w-full mix-blend-screen opacity-50 rounded-xl bg-cover" style="background-image: url('https://images.unsplash.com/photo-1530981279185-9f0960715267?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80')"></div>
        </div>
        <img class="absolute z-20 -bottom-32 left-12" width="220" src="/img/3d-flame-man-facing-right.png" alt="">
        <img class="absolute z-0 -bottom-8 -left-20 w-[640px] max-w-none" src="/img/brush-circle.png" alt="">
    </div>
    <div class="relative">
        <div class="rounded-xl h-[500px] block bg-black/[.8] shadow-glow-red p-8 flex items-center">
            <div>
                <p class="text-red font-bold text-xl antialiased mb-12">This is heavy!</p>
                <h2 class="text-[32px] tracking-tight leading-tight text-white font-bold">The power to change history.</h2>
                <p class="text-[32px] tracking-tight leading-tight text-gray-500">If you're going to build a time machine into a car, why not do it with some style?</p>
                <a href="#" class="mt-12 bg-gradient-to-br from-pink to-purple rounded-lg text-white inline-block py-2 px-6 font-bold shadow-highlight transition hover:scale-[1.05]">
                    Pop the hood
                </a>
            </div>
        </div>
    </div>
</section>
<section class="max-w-6xl mx-auto p-4 lg:px-6 grid grid-cols-2 gap-8 pb-40 mt-32 ">
    <div class="relative">
        <div class="rounded-xl h-[500px] block bg-black/[.8] shadow-glow-red p-8 flex items-center">
            <div>
                <p class="text-red font-bold text-xl antialiased mb-12">Your kids are gonna love it.</p>
                <h2 class="text-[32px] tracking-tight leading-tight text-white font-bold">Control your density</h2>
                <p class="text-[32px] tracking-tight leading-tight text-gray-500">Become who you were meant to be one day, today. Or relive yesterday. It's up to you.</p>
                <a href="#" class="mt-8 bg-gradient-to-br from-pink to-purple rounded-lg text-white inline-block py-2 px-6 font-bold shadow-highlight transition hover:scale-[1.05]">
                    Book Now
                </a>
            </div>
        </div>
    </div>
    <div class="relative">
        <div class="h-[500px] relative z-10 bg-gradient-to-tr from-blue-dark to-red-dark rounded-xl bg-cover">
            <div class="absolute h-full w-full mix-blend-screen opacity-50 rounded-xl bg-cover" style="background-image: url('https://images.unsplash.com/photo-1571876390453-7196f023a67d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80')"></div>
        </div>
        <img class="absolute z-20 -bottom-24 right-0" width="220" src="/img/3d-flame-man-facing-left.png" alt="">
    </div>
</section>
