<article class="max-w-5xl mx-auto px-4 lg:px-6 py-24 relative">
    <header class="max-w-3xl mx-auto">
        <a href="" class="px-3 py-1 text-gray-100 font-bold bg-yellow transition hover:bg-orange rounded-full inline-block mb-8">Technology</a>
        <h1 class="text-5xl md:text-6xl lg:text-7xl tracking-tight text-white font-bold">{{ title }}</h1>
        <div class="flex items-center mt-12">
            <img class="rounded-full h-16 w-16" src="{{ author:avatar }}" alt="{{ author:avatar:alt }}">
            <div class="ml-6">
                <div>{{ date }}</div>
                <div>By <a href="" class="font-bold text-white">{{ author:name }}</a></div>
            </div>
        </div>
    </header>

    <figure class="mt-12">
        <img class="rounded-xl" src="{{ featured_image }}" alt="{{ featured_image:alt }}">
    </figure>

    <section class="max-w-3xl mx-auto mt-12 content article">
        {{ article_content }}
    </section>
</article>
